* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.navota {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;

}

header {
    background: linear-gradient(rgb(249, 247, 247),rgb(125, 125, 125),rgb(58, 58, 58));
    padding-bottom: 50px;
    padding-top: 50px;
}